/* check the website coolors for color selection 
https://coolors.co/
*/

$primary: #01161e;
$link: #eff6e0;
$grey: #598392;
$grey-light: #aec3b0;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $primary: $primary,
  $link: $link,
  $grey: $grey,
  $grey-light: $grey-light,
  $control-border-width: 2px,
  $input-shadow: none
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
