
.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 50em;
  list-style-type: none;
}

.timeline:before {
  background-color: rgba(var(--bs-secondary-rgb));
  content: "";
  margin-left: -1px;
  position: absolute;
  top: 1em;
  left: 1em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: initial;
}

.timeline-event:hover .timeline-event-icon {
  transform: rotate(-45deg);
  background-color: rgba(var(--bs-third-rgd));
}

.timeline-event:hover .timeline-event-title {
  color: white;
  box-shadow: inset 40em 0 0 0 rgba(var(--bs-third-rgd));
}

.timeline-event:hover .timeline-event-thumbnail {
  box-shadow: inset 40em 0 0 0 rgba(var(--bs-third-rgd));
}

.timeline-event .div {
  position: initial;
}

.timeline-event-copy {
  padding: 0em;
  top: -0.875em;
  display: block;
  white-space: normal;
}

.timeline-event-copy div {
  transition: 0.5s ease-in-out;
  max-height: 500px;
  overflow-y: scroll;
}

.timeline-event-copy h3 {
  font-size: 1.75em;
}

.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.timeline-event-copy strong {
  font-weight: 700;
}

.timeline-event-copy img {
  width: 100%;
}

.timeline-event-copy embed {
  width: 100%;
}


.timeline-event-copy p:not(.timeline-event-thumbnail):not(.timeline-event-title) {
  padding-bottom: 0em;
}

.timeline-event-icon {
  transition: transform 0.2s ease-in;
  transform: rotate(45deg);
  background-color: rgba(var(--bs-secondary-rgb));
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  margin-top: 0.9em;
  top: 90;
  left: 1em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  /* transition: box-shadow 0.5s ease-in 0.1s; */
  /* box-shadow: inset 0 0 0 0em #ef795a; */
  color: white;
  font-size: 0.75em;
  background-color: rgba(var(--bs-secondary-rgb));
  display: inline-block;
  margin-bottom: 2em;
  padding: 0.25em 1em 0.2em 1em;
}

.timeline-event-title {
  /* transition: box-shadow 0.5s ease-in 0.05s;
  box-shadow: inset 0 0 0 0em #ef795a; */
  color: rgba(var(--bs-secondary-rgb));
  font-size: 0.75em;
  background-color: white;
  display: inline-block;
  position: absolute;
  margin-bottom: 1.2em;
  margin-left: 0.5em;
  margin-top: 0.15em;
  padding: 0.25em 1em 0.2em 1em;
}

.video-responsive { 
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative; 
    height:0;
    }
    
.video-responsive iframe {
    left:0; 
    top:0; 
    height:100%;
    width:100%;
    position:absolute;
    border-radius: 0.5rem;
}

.video-magic {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 75%);
    border-radius: 0.5rem;
    width: 100%;
    height: 40rem;
}

.hidden {
    display: none;
}

/* tagify */

.tags-look .tagify__dropdown__item{
    display: inline-block;
    border-radius: 3px;
    padding: .3em .5em;
    border: 1px solid #CCC;
    background: white;
    margin: .2em;
    font-size: .85em;
    color: black;
    transition: 0s;
  }
  
  .tags-look .tagify__dropdown__item--active{
    color: black;
  }
  
  .tags-look .tagify__dropdown__item:hover{
    color: white;
    background: rgba(var(--bs-third-rgd));
    border-color: rgba(var(--bs-third-rgd));
  }