@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Exo 2", sans-serif;
  line-height: 1.5;
}

.wrapper {
  margin: 0 auto;
  padding: 0 16.66% 50px;
  width: 100%;
}

article {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
}

.timeline-container {
  display: flex;
  flex-direction: row;
}

.timeline__nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 52px; /* Height of the main navbar */
  z-index: 1; /* Lower z-index to go under the main navbar */
  max-height: calc(100vh - 52px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex: 0 0 150px; /* Set a fixed width for the nav */
}

.timeline__section {
  flex: 1; /* Allow the section to take up the remaining space */
}

.navbar.is-fixed-top {
    z-index: 100; /* Higher z-index to stay on top */
}

.timeline__nav::-webkit-scrollbar {
  display: none;
}
.timeline__nav ul {
  list-style: none;
  list-style-position: inside;
  margin: 15px 0;
}
.timeline__nav ul li {
  margin: 15px 0;
  padding-left: 0;
  list-style-type: none;
  color: #bfc1c3;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.timeline__nav ul li.active {
  font-weight: bold;
  color: #f94125;
  border-bottom: 1px dotted transparent;
  transform: scale(1.2);
}
.timeline__nav ul li:hover {
  color: #000;
}