ul {
  @apply list-disc list-outside my-4 pl-5;
}

h1 {
  @apply text-4xl font-bold mb-4;
}

h2 {
  @apply text-3xl font-bold mb-4;
}

h3 {
  @apply text-2xl font-semibold mb-4;
}

h4 {
  @apply text-xl font-semibold mb-4;
}

p {
  @apply mb-4;
}