<!-- ========== FOOTER ========== -->
<footer class="mt-auto w-full py-10 px-4 sm:px-6 lg:px-8 mx-auto bg-white dark:bg-neutral-800">
  <!-- Grid -->
  <div class="text-center">
    <div>
      <a class="flex-none text-xl font-semibold text-black dark:text-white" href="#" aria-label="Brand">Anthropocene Timeline</a>
    </div>
    <!-- End Col -->


    <div class="mt-3">
      <p class="text-gray-500 dark:text-neutral-500">Interested in the project? Let's get in touch!</p>

      {{ partial "clipboard.html" (dict "value" .Site.Params.email "label" "footer") }}

      <p class="mt-3 text-gray-500 dark:text-neutral-500">
        {{ .Site.Params.Copyright }}
      </p>
    </div>

    <!-- Social Brands -->
    <div class="mt-3 space-x-2">
      <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="{{ (site.GetPage "contribute").RelPermalink }}#community">
        <i class="bi bi-discord"></i>
      </a>
      <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="https://github.com/poupeaua/anthropocene-timeline/discussions" target="_blank">
        <i class="bi bi-github"></i>
      </a>
    </div>
    <!-- End Social Brands -->
  </div>
  <!-- End Grid -->
</footer>
<!-- ========== END FOOTER ========== -->