<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RZLNJR1KNK"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RZLNJR1KNK');
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ partial "opengraph.html" . }}

    {{ partial "style.html" . }}

    <!-- Site Title -->
    <title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

    <!-- Description -->
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
</head>