<!-- ========== HEADER ========== -->
<header class="fixed top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm">
  <nav id="navbar" class="navbar mt-4 relative max-w-5xl w-full shadow border border-gray-200 dark:border-white rounded-[24px] mx-2 flex flex-wrap md:flex-nowrap items-center justify-between p-1 ps-4 md:py-0 sm:mx-auto bg-white/80 dark:bg-neutral-800/80">
    
    <!-- Brand -->
    <div class="flex items-center">
      <!-- Logo -->
      <a class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-hidden focus:opacity-80 dark:text-white text-gray-800" href="{{ relLangURL "/" }}" aria-label="Preline">
        <i class="bi bi-globe"></i>        
        AT
      </a>
      <!-- End Logo -->

      <div class="ms-1 sm:ms-2">

      </div>
    </div>

    <!-- Navigation elements -->
    <div class="flex items-center gap-1 md:order-3 before:hidden lg:before:block before:w-px before:h-4 before:bg-gray-300 dark:before:bg-neutral-700">

      <!-- Toggle Light or Dark Mode -->
      <div id="hs-theme-switch-to-destroy">
        <button type="button" class="hs-dark-mode-active:hidden block hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" data-hs-theme-click-value="dark">
          <span class="group inline-flex shrink-0 justify-center items-center size-7">
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
            </svg>
          </span>
        </button>
        <button type="button" class="hs-dark-mode-active:block hidden hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" data-hs-theme-click-value="light">
          <span class="group inline-flex shrink-0 justify-center items-center size-7">
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="4"></circle>
              <path d="M12 2v2"></path>
              <path d="M12 20v2"></path>
              <path d="m4.93 4.93 1.41 1.41"></path>
              <path d="m17.66 17.66 1.41 1.41"></path>
              <path d="M2 12h2"></path>
              <path d="M20 12h2"></path>
              <path d="m6.34 17.66-1.41 1.41"></path>
              <path d="m19.07 4.93-1.41 1.41"></path>
            </svg>
          </span>
        </button>
      </div>

      <!-- Language Switcher -->
      <div class="hs-dropdown w-full sm:w-auto whitespace-nowrap py-1 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 bg-white dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:bg-neutral-800">
        <button id="hs-dropdown-custom-trigger" type="button" class="hs-dropdown-toggle inline-flex items-center text-sm font-medium" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
          <i class="w-8 bi bi-translate text-xl"></i>
          <svg class="hs-dropdown-open:rotate-180 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
        </button>

        <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden bg-white shadow-md rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-custom-trigger">
          <div class="p-1 space-y-0.5">
            {{ if .IsTranslated -}}
            {{- range .Translations -}}
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
            {{ end -}}
            {{ else -}}
            {{ range .Site.Languages -}}
            {{ if ne $.Site.Language.Lang .Lang }}
            <a rel="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700" href="{{ relLangURL "/" }}">{{ .LanguageName }}</a>
            {{ end -}}
            {{ end -}}
            {{ end -}}
          </div>
        </div>
      </div>
  
      <!-- Important for responsive on mobile-->
      <div class="md:hidden">
        <!-- Toggle Button -->
        <button type="button" class="hs-collapse-toggle flex justify-center items-center size-9.5 border border-gray-200 text-gray-800 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 bg-white dark:border-white dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:bg-neutral-800" id="hs-navbar-header-floating-collapse" aria-expanded="false" aria-controls="hs-navbar-header-floating" aria-label="Toggle navigation" data-hs-collapse="#hs-navbar-header-floating">
          <svg class="hs-collapse-open:hidden shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
          <svg class="hs-collapse-open:block hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
        <!-- End Toggle Button -->
      </div>
    </div>

    <div id="hs-navbar-header-floating" class="hidden hs-collapse overflow-hidden transition-all duration-300 basis-full grow md:block" aria-labelledby="hs-navbar-header-floating-collapse" aria-label="Tabs" role="tablist" aria-orientation="horizontal">
      <div class="flex flex-col md:flex-row md:items-center md:justify-end gap-2 md:gap-3 mt-3 md:mt-0 md:py-0 md:ps-7">
        
        <div class="md:py-3 py-2 inline-flex items-center border-transparent text-sm whitespace-nowrap text-neutral-800 hover:text-blue-600 focus:outline-hidden focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-blue-500 dark:focus:text-blue-500 active" id="basic-tabs-item-2" aria-selected="false" data-hs-tab="#basic-tabs-2" aria-controls="basic-tabs-2" role="tab">
          <i class="w-8 bi bi-house text-xl md:hidden inline-flex"></i>
          <a href="{{ relLangURL "/" }}">{{ i18n "navbar.home" }}</a>
        </div>

        <div class="md:py-3 py-2 inline-flex items-center border-transparent text-sm whitespace-nowrap text-neutral-800 hover:text-blue-600 focus:outline-hidden focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-blue-500 dark:focus:text-blue-500" id="basic-tabs-item-2" aria-selected="false" data-hs-tab="#basic-tabs-2" aria-controls="basic-tabs-2" role="tab">
          <i class="w-8 bi bi-info-circle text-xl md:hidden inline-flex"></i>
          {{ $about := site.GetPage "about" }}
          <a href="{{ $about.Permalink }}">{{ i18n "navbar.about" }}</a>
        </div>

        <div class="hs-dropdown [--strategy:static] sm:[--strategy:absolute] [--adaptive:none] sm:[--trigger:click] [--auto-close:true] [--is-collapse:true] sm:[--is-collapse:false] ">
          <button type="button" class="md:py-3 py-2 inline-flex items-center border-transparent text-sm whitespace-nowrap text-neutral-800 hover:text-blue-600 focus:outline-hidden focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-blue-500 dark:focus:text-blue-500" id="basic-tabs-item-2" aria-selected="false" data-hs-tab="#basic-tabs-2" aria-controls="basic-tabs-2" role="tab">
              <i class="w-8 bi bi-file-earmark-check text-xl md:hidden items-center inline-flex"></i>
              {{ i18n "navbar.sources.main" }}
              <svg class="hs-dropdown-open:-rotate-180 sm:hs-dropdown-open:rotate-0 duration-300 ms-auto sm:ms-2 shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
          </button>

          <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-30 bg-white shadow-md rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-custom-trigger">
            <div class="p-1 space-y-0.5">
                {{ $papers := site.GetPage "sources/papers" }}
                <a class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300" href="{{ $papers.RelPermalink }}">
                  {{ i18n "navbar.sources.papers" }}
                </a>
                {{ $books := site.GetPage "sources/books" }}
                <a class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300" href="{{ $books.RelPermalink }}">
                  {{ i18n "navbar.sources.books" }}
                </a>
                <div class="hs-dropdown [--strategy:static] sm:[--strategy:absolute] [--adaptive:none] relative">
                  <button id="hs-navbar-example-dropdown-sub" type="button" class="hs-dropdown-toggle w-full flex justify-between items-center text-sm text-gray-800 rounded-lg py-2 px-3 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300">
                    {{ i18n "navbar.sources.secondary.main" }}
                    <svg class="hs-dropdown-open:-rotate-180 sm:hs-dropdown-open:-rotate-90 sm:-rotate-90 duration-300 ms-2 shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                  </button>

                  <div class="hs-dropdown-menu transition-[opacity,margin] ease-in-out duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-32 hidden z-10 sm:mt-2 bg-white sm:shadow-md rounded-lg dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute sm:border border-gray-200 before:-end-5 before:top-0 before:h-full before:w-5 sm:mx-2.5! top-0 end-full" role="menu" aria-orientation="vertical" aria-labelledby="hs-navbar-example-dropdown-sub">
                    <div class="p-1 space-y-1">
                      {{ $articles := site.GetPage "sources/articles" }}
                      <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300" href="{{ $articles.RelPermalink }}">
                      {{ i18n "navbar.sources.secondary.articles" }}
                      </a>
                      <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300" href="#">
                      {{ i18n "navbar.sources.secondary.videos" }}
                      </a>
                      <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300" href="#">
                      {{ i18n "navbar.sources.secondary.musics" }}
                      </a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        
        <div class="md:py-3 py-2 md:mr-2 inline-flex items-center border-transparent text-sm whitespace-nowrap text-neutral-800 hover:text-blue-600 focus:outline-hidden focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-blue-500 dark:focus:text-blue-500" id="basic-tabs-item-3" aria-selected="false" data-hs-tab="#basic-tabs-3" aria-controls="basic-tabs-3" role="tab">
          <i class="w-8 bi bi-node-plus text-xl md:hidden items-center inline-flex"></i>
          {{ $contribute := site.GetPage "contribute" }}
          <a href="{{ $contribute.RelPermalink }}">
          {{ i18n "navbar.contribute" }}
          </a>
        </div>

      </div>
    </div>

    
  
  </nav>
</header>
<!-- ========== END HEADER ========== -->