{{ define "main" }}
<div class="relative h-screen bg-white dark:bg-neutral-800">
  <div
    class="absolute inset-0 bg-cover bg-no-repeat mask-b-from-80% mask-b-to-99%"
    style="background-image: url('{{ "img/404-error-icon.png" | relURL }}'); background-size: cover; background-position: center 24%;">
  </div>

  <div class="absolute bottom-14 left-1/2 -translate-x-1/2 flex flex-col text-center items-center text-white">
      <h4 class="text-4xl font-bold">Error 404 Not Found</h4>
      <p class="text-base font-medium text-white">
        The page you requested cannot be found.
      <p>
      <a class="mt-6 inline-block bg-white text-neutral-800 hover:bg-neutral-100 font-bold py-2 px-4 rounded-lg" href="{{ .Site.Home.RelPermalink }}">
          Return to Home Page
      </a>
  </div>
</div>
{{ end }}