{{ define "main" }}

<header>
    <div id="carouselExampleCaptions" class="">
      <section class="hero is-fullheight" style="background: url('/img/ecology/carousel/art-ipcc-curv.jpeg') center center / cover no-repeat;">
        <div class="hero">
          <h5><a style="text-decoration: none;" href="https://www.jillpelto.com/currents/" target="_blank">{{ $.Param "carousel.carousel1.info" | markdownify }}</a></h5>
          <p>{{ $.Param "carousel.carousel1.subinfo" }}</p>
        </div>
      </section>
    </div>
</header>


<!-- Timeline Section-->
<section class="section" id="timeline">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="section-heading text-center text-uppercase">{{ $.Param "timeline.title" }}</h2>
        <!-- Icon Divider-->
        <div class="">
            <div class="divider-custom-line"></div>
            <div class="has-text-warning"><i class="fas fa-star has-text-warning"></i>Test</div>
            <div class="divider-custom-line"></div>
        </div>

        <p class="text-center">{{ $.Param "timeline.intro" }}</p>

        <p class="text-center">{{ $.Param "timeline.citation" | markdownify }}</p>

        <article class="timeline" id="scroll-timeline">
        <div class="timeline-container">
          <nav class="timeline__nav">
            <ul>
            {{ range $index, $element := (where .Site.Pages "Type" "timelineEvent").ByParam "Order" }}
              <li><span>{{ $element.Params.Year }}</span></li>
            {{ end }}
            </ul>
          </nav>
          <section class="timeline__section">
            {{ range $index, $element := (where .Site.Pages "Type" "timelineEvent").ByParam "Order" }}
            <div class="wrapper" x-data="{ expanded{{ .Params.id }}: false }">
                <div class="timeline-content">
                  <div class="" @click="expanded{{ .Params.id }} = ! expanded{{ .Params.id }}">
                    <p class="milestone">{{ .Params.Year }}</p>
                    <p class="">{{ .Title }}</p>
                  </div>
                  <div x-show="expanded{{ .Params.id }}" x-collapse.duration.500ms>
                    <h3>{{ .Title }}</h3>
                    {{ .Content }}
                  </div>
                </div>
              </div>
            {{ end }}
        </ul>
    </div>
</section>

{{ end }}