{{- $title := .Get "title" -}}
{{- $type := .Get "type" -}}
{{- $icon := .Get "icon" | default "bi-info-circle-fill" -}}
{{- $page := site.GetPage $type -}}
{{- $sourcePath := printf "sources/%s/%s" $type $title -}}
{{- $sourcePage := site.GetPage $sourcePath -}}

<div class="hs-tooltip inline-block">
  <a href="{{ $page.RelPermalink }}#hs-src-modal-{{ $title }}" target="_blank" rel="noopener noreferrer" class="hs-tooltip-toggle">
    <i class="bi {{ $icon }}"></i>
    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 text-center transition-opacity invisible z-50 py-3 px-4 w-32 bg-gray-900 text-xs font-medium text-white rounded-lg shadow-2xl dark:bg-neutral-900 flex flex-col items-center" role="tooltip">
      {{ with $sourcePage.Params.img }}
        <img src="{{ . | relURL }}" alt="{{ $sourcePage.Title }}" class="w-full mx-auto mb-2 rounded-lg">
      {{ end }}
      <span class="font-bold">
        {{ i18n "general.seeSource" }}:
      </span>
      {{ $sourcePage.Title }}
    </span>
  </a>
</div>
